[project]
	description = Tutorials for Apache Camel 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marco Maccio (marcomaccio)
[access "refs/for/refs/*"]
	read = group user/Marco Maccio (marcomaccio)
	push = group user/Marco Maccio (marcomaccio)
	label-Code-Review = -2..+2 group user/Marco Maccio (marcomaccio)
	label-Verified = -1..+1 group user/Marco Maccio (marcomaccio)
	rebase = group user/Marco Maccio (marcomaccio)
	removeReviewer = group user/Marco Maccio (marcomaccio)
	submit = group user/Marco Maccio (marcomaccio)
[access "refs/heads/*"]
	read = group user/Marco Maccio (marcomaccio)
	create = group user/Marco Maccio (marcomaccio)
	push = +force group user/Marco Maccio (marcomaccio)
	pushMerge = group user/Marco Maccio (marcomaccio)
[access "refs/tags/*"]
	push = +force group user/Marco Maccio (marcomaccio)
	pushTag = group user/Marco Maccio (marcomaccio)
	pushSignedTag = group user/Marco Maccio (marcomaccio)
